<div class="container">

  <br>

  <h2>Dizimistas</h2>

  <br>

  <a [routerLink]="['']" class="btn btn-outline-primary">
    Home
  </a>

  <a [routerLink]="['/add-tither']" class="btn btn-outline-success">
    Adicionar Dizimista
  </a>

  <br>
  <br>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Celular</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tither of tithers">
        <th scope="row">{{ tither.id | slice:0:8 }}</th>
        <td>{{ tither.name }}</td>
        <td>{{ tither.cpf }}</td>
        <td>{{ tither.cellphone }}</td>
        <td>
          <a [routerLink]="['/edit-tither']" class="btn btn-outline-info">
            Editar
          </a>
          <a [routerLink]="['/delete-tither']" class="btn btn-outline-danger">
            Apagar
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
