<div class="container">

  <br>

  <h2>Adicionar Dizimista</h2>

  <br>

  <a [routerLink]="['']" class="btn btn-outline-primary"><i class="fas fa-home"></i>
    Home
  </a>

  <a [routerLink]="['/tithers']" class="btn btn-outline-success">
    <i class="fas fa-list"></i>
    Lista Dizimistas
  </a>

  <br><br>

  <form [formGroup]="addTitherform" (submit)="addTither()">

    <div class="form-row">
      <div class="col">
        <label for="inputName">Nome</label>
        <input type="text" formControlName="name" class="form-control" id="name" placeholder="Nome">
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <label for="inputAddress">Endereço</label>
        <input type="text" formControlName="address" class="form-control" id="inputAddress" placeholder="Endereço">
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <label for="inputBirthDate">Data de Aniversário</label>
        <input type="date" formControlName="birthDate" class="form-control" id="inputBirthDate" placeholder="Data de Aniversário">
      </div>
      <div class="col">
        <label for="inputCPF">CPF</label>
        <input type="text" formControlName="CPF" class="form-control" id="inputCPF" placeholder="000.000.000-00">
      </div>
      <div class="col">
        <label for="inputTelephone">Telefone</label>
        <input type="text" formControlName="telephone" class="form-control" id="inputTelephone" placeholder="(00) 0000-000">
      </div>
      <div class="col">
        <label for="inputCellphone">Celular</label>
        <input type="text" formControlName="cellphone" class="form-control" id="inputCellphone" placeholder="(00) 0.0000-000">
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <label for="inputMatiralStatus">Estado Civil</label>
        <select formControlName="matiralStatus" id="inputMatiralStatus" class="form-control">
          <option value=0 selected>Choose...</option>
          <option value=1>Solteiro</option>
          <option value=2>Casado</option>
          <option value=3>Viuvo</option>
          <option value=4>Divorciado</option>
        </select>
      </div>
      <div class="col">
        <label for="inputMarriegeDate">Data de Casamento</label>
        <input type="date" formControlName="marriegeDate" class="form-control" id="inputMarriegeDate" placeholder="Data de Casamento">
      </div>
      <div class="col">
      </div>
      <div class="col">
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <label for="inputNameSpouse">Nome Esposa(o)</label>
        <input type="text" formControlName="nameSpouse" class="form-control" id="inputNameSpouse" placeholder="Nome Esposa(o)">
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <label for="inputDateBirthSpouse">Data de Nascimento Esposa(o)</label>
        <input type="date" formControlName="dateBirthSpouse" class="form-control" id="inputDateBirthSpouse" placeholder="Data de Nascimento Esposa(o)">
      </div>
      <div class="col">
       </div>
      <div class="col">
      </div>
      <div class="col">
      </div>
    </div>
    <br>
    <a [routerLink]="['/tithers']" class="btn btn-outline-warning"><i class="far fa-window-close"></i>
      Cancelar
    </a>
    <button class="btn btn-outline-primary"><i class="far fa-save"></i> Salvar</button>

  </form>

</div>
