<div class="container">

  <br>

  <h2>Adicionar Contribuição</h2>

  <br>

  <a [routerLink]="['']" class="btn btn-outline-primary"><i class="fas fa-home"></i>
    Home
  </a>

  <a [routerLink]="['/tithe', titherId]" class="btn btn-outline-success">
    <i class="fas fa-list"></i>
    Lista de Contribuições
  </a>

  <br><br>

  <form [formGroup]="addTitheform" (submit)="addTithe()">

    <div class="form-row">
      <div class="col">
        <label for="inputValueContribution">Valor da Contribuição</label>
        <input type="text" formControlName="valueContribution" class="form-control" id="valueContribution"
          placeholder="Valor De Contribuição">
      </div>
      <div class="col">
        <label for="inputContributionDate">Data de Contribuição</label>
        <input type="date" formControlName="dateContribution" class="form-control" id="inputcontributionDate"
          placeholder="Data de Contribuição">
      </div>
    </div>
    <br>
    <div class="form-row">
      <div class="col">
        <a [routerLink]="['/tithe', titherId]" class="btn btn-warning btn-block"><i class="far fa-window-close"></i>
          Cancelar
        </a>
      </div>
      <div class="col">
        <button class="btn btn-primary btn-block"> <i class="far fa-save"></i> Salvar</button>
      </div>
    </div>

  </form>

</div>