<div class="container">
  <br>
    <h2>Contribuição Dízimo</h2>
  <br>

  <a [routerLink]="['']" class="btn btn-outline-primary"><i class="fas fa-home"></i>
    Home
  </a>

  <a [routerLink]="['/add-tithe', titherId]" class="btn btn-outline-success"> <i class="fas fa-plus-circle"></i>
    Adicionar Contribuição
  </a>

  <a [routerLink]="['/tithers']" class="btn btn-outline-primary"> <i class="fas fa-user-circle"></i>
    Dizimistas
  </a>

  <br>
  <br>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Data</th>
        <th scope="col">Valor</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody *ngIf="(tithes$ | async) as tithes">
      <tr *ngFor="let tithe of tithes">
        <th scope="row">{{ tithe.id | slice:0:8 }} </th>
        <td>{{ tithe.dateContribution }}</td>
        <td>{{ tithe.valueContribution }}</td>
        <td>
          <a [routerLink]="['/edit-tithe', titherId]" class="btn btn-outline-info">
            <i class="fas fa-edit"></i>
            Editar
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
