<div class="container">

  <nav class="nav">
    <a class="nav-link" href="#"><i class="fas fa-place-of-worship"></i> Sispar</a>
  </nav>

  <br>

  <h2>Home</h2>

  <br>
  <br>
  <form [formGroup]="form">
    <label>Acesso a tela do dizimista:</label>
  </form>

  <!-- <button [routerLink]="['/tithers']"><i class="fas fa-user-circle"></i> Dizimistas </button> -->
  <a [routerLink]="['/tithers']" class="btn btn-outline-primary"> <i class="fas fa-user-circle"></i>
    Dizimistas
  </a>

  <a [routerLink]="['/tithe']" class="btn btn-outline-primary"><i class="fas fa-home"></i>
    Contribuição Dizimo
  </a>

</div>
