nav{
  background-color: blueviolet;
  display:block;
  height:60px;

}
nav a{
  color:White;
  font-size: 34px;
}

h2 {
  font-family:'Rosario', sans-serif;
}


/*button {
  background-color: blueviolet;
  border: none;
  padding: 10px;
  color: #fff;
  border-radius: 50px;
  font-size: 1em;
  padding-left: 50px;
  padding-right: 50px;
}*/
